<h2>{{tytul_listy}}</h2>


<ol>
    @for (student of listaStudent; track $index) 
    {
        <li (click)='selected = student'>{{ student.Imie }} {{ student.Nazwisko }}</li>
        @if(selected === student){
            wiek: {{student.Wiek}}
            <br>
            oceny:
                @for (ocena of student.oceny; track ocena) 
                {
                    <br><a [style.color]="ocena==2 ? 'red':'black'">{{ocena | number : '1.1-1'}} </a>
                } 
                @empty 
                {
                    <a>No items...</a>
                }
        }
    } 
    @empty 
    {
        <li>No items...</li>
    }
</ol>

<button (click)="AddClick()">Add Student</button>

@if(selected!=null){
    <button (click)="EditClick()">Edit Student</button>
}


@if (addShowing) {
    <app-add-student  (studentAdded)="StudentAddedInChild($event)"/>
}

@if (editShowing) {
    <app-edit-student [selectedStudent]="selected" (studentEdited)="StudentEditedInChild($event)"/>
}

